extends ../layouts/adminlayout.jade

block content

      .row
        .col-lg-12
            .panel.panel-default
                .panel-heading
                    strong Traduzioni
                .panel-body
                    .dataTable_wrapper
                        .dataTables_wrapper.form-inline.dt-bootstrap.no-footer
                            table#translation.display.table.table-striped.table-hover(cellspacing="0" width="100%")
      .row
        .col-lg-12
          #editor
            include ../includes/modal-translation-editor.jade

block pageJavascript
    script.
        var datacolumnstruct = !{this.translationStruct},
            contexts = !{this.contexts},
            langs = !{this.langs};
