extends ../layouts/layout.jade

block content
  include ../includes/site-page-header.jade
  #top

  #page-content
    .row
        .col-lg-12
            .error-page
                .h2 ERRORE - ERROR - ERREUR

                .error
                    != this.message
    include ../includes/site-footer.jade
