
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
cachexml/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# Eclipse
.project

# WebStorm
.idea

# Specific config project
bower_components/
node_modules/
*.log
*.log.*
config/config.php
files/*
data/*
view/*
.htaccess
nginx.vhost

# Composer
vendor/*
*.lock

# Configurazione di Gulp
vagrant.id

#md5 usati da gulp per evitare di rilanciare task time consuming
package.json.md5
composer.json.md5
bower.json.md5

# css compilati
stylesheets/*.min.*
