extends ../layouts/layout.jade

block content
    #page-wrapper
      .row
        .col-lg-12
          table#example.display.table(cellspacing="0" width="100%")
            thead
              tr
                th id
                th name
                th description
                th status
                th created
                th modified
    // script var dataSet=[[1,'nome 1','descrizione 1','status 1','created 1','modified 1'],[2,'nome 2','descrizione 2','status 2','created 2','modified 2']];

block pageJavascript
    script.
        $(document).ready(function(){
            $("#example").DataTable({
                ajax:'/admin/api/roles',
                columns: [
                    { "data": "id" },
                    { "data": "name" },
                    { "data": "description" },
                    { "data": "status" },
                    { "data": "created" },
                    { "data": "modified" }
                ]
            });
        });
