extends ../layouts/layout.jade

block content
    #page-wrapper
      .row
        .col-lg-12
          table#example.display.table(cellspacing="0" width="100%")

block pageJavascript
    script.
        $(document).ready(function(){
            console.log("Ready: #{this.model}");
            $("#example").DataTable({
                ajax:'/admin/api/#{this.model}/datatable',
                processing: true,
                serverSide: true,
                columns: !{this.tableStruct}
            });
            $("input[type='search']").hide().after($('<input type="text" id="fakeSearch">'));
            $("#fakeSearch").on("keyup paste cut",updateSearch)
        });
        function updateSearch(){
            var fakeSearch,search;
          if(typeof tout !== 'undefined'){
            clearTimeout(tout);
          }
          tout=setTimeout(function(){
            fakeSearch=$("#fakeSearch").val().trim();
            search=$("input[type='search']").val();
            if(search != fakeSearch){
                $("input[type='search']").val(fakeSearch).trigger("search.DT");
            }
          },500);
        }
