extends ../layouts/layout.jade

block content
    #page-wrapper
      .row
        .col-lg-12
          table#translation.display.table(cellspacing="0" width="100%")

block pageJavascript
    script.
        var datacolumnstruct = !{this.translationStruct},
            contexts = !{this.contexts},
            langs = !{this.langs};
    script(src="/js/admintranslation.js")
