<?php

$config['site']['code'] = 'VHOST';
$config['site']['title'] = 'Fluidframe SKEL';

$config['site']['robotsallow'] = true;

$config['site']['langs'] = array(
        'it' => array('dir'=>'ltr','code'=>'IT'),
        'en' => array('dir'=>'ltr','code'=>'EN')
);
$config['site']['language'] = 'it';
$config['site']['langdetect'] = true;

$config['log']['file'] = INSTALLDIR.'/tmp/VHOST.log';
$config['log']['level'] = 100; // NONE= 0; DEBUG = 100; INFO = 200; NOTICE = 250; 
                               // WARNING = 300; ERROR = 400; CRITICAL = 500;
                               // ALERT = 550; EMERGENCY = 600;

$config ['db'] ['database'] = 'mysqli://VHOST:VHOST@127.0.0.1/VHOST';
$config ['db'] ['type'] = 'mysql';
$config ['db'] ['debug'] = 0;
$config ['db'] ['schemacheck'] = 'script';
$config ['db'] ['mysql_foreign_keys'] = true;

// $config ['typekit'] = array ( 'async' => false, 'enabled' => true, 'url' => 'https://use.typekit.net/dyc7bek.js' );
